<?xml version="1.0" encoding="utf-8"?>

<configuration>


    <property name="LOG_HOME" value="logs/"/>
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!-- 彩色日志格式 -->
    <property name="LOG_PATTERN" value= "%white(%date{${LOG_DATEFORMAT_PATTERN}})|%highlight(%-5level)|%blue(%thread)|%green(%logger:%line): %highlight(%msg%n)"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>


    <property name="endpoint" value="cn-hangzhou-intranet.log.aliyuncs.com"/>
    <property name="accessKeyId" value="LTAI4FpZJVthXM2D5nxcTCbu"/>
    <property name="accessKeySecret" value="f66LA2AaRkQAeyiXgPAIGSjIeHRXhM"/>

    <springProfile name="dev">
        <appender name="aliyun-dev" class="com.aliyun.openservices.log.logback.LoghubAppender">
            <!-- Required parameters -->
            <!-- Configure account and network  -->
            <endpoint>${endpoint}</endpoint>
            <accessKeyId>${accessKeyId}</accessKeyId>
            <accessKeySecret>${accessKeySecret}</accessKeySecret>

            <!-- Configure sls -->
            <project>doterra-dev</project>
            <logStore>doterra-dev</logStore>
            <!-- Required parameters(end) -->

            <!-- Optional parameters -->
            <topic>oms-order-console</topic>

            <!-- Optional parameters -->
            <totalSizeInBytes>104857600</totalSizeInBytes>
            <maxBlockMs>60000</maxBlockMs>
            <ioThreadCount>8</ioThreadCount>
            <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
            <batchCountThreshold>4096</batchCountThreshold>
            <lingerMs>2000</lingerMs>
            <retries>10</retries>
            <baseRetryBackoffMs>100</baseRetryBackoffMs>
            <maxRetryBackoffMs>100</maxRetryBackoffMs>

            <!-- Optional parameters -->
            <encoder>
                <pattern>%d %-5level [%thread] %logger{0}: %msg</pattern>
            </encoder>

            <!--  Optional parameters -->
            <timeFormat>yyyy-MM-dd'T'HH:mmZ</timeFormat>
            <!--  Optional parameters -->
            <timeZone>Asia/Shanghai</timeZone>
        </appender>
    </springProfile>

    <springProfile name="uat">
        <appender name="aliyun-uat" class="com.aliyun.openservices.log.logback.LoghubAppender">
            <!-- Required parameters -->
            <!-- Configure account and network  -->
            <endpoint>${endpoint}</endpoint>
            <accessKeyId>${accessKeyId}</accessKeyId>
            <accessKeySecret>${accessKeySecret}</accessKeySecret>

            <!-- Configure sls -->
            <project>doterra-uat</project>
            <logStore>doterra-uat</logStore>
            <!-- Required parameters(end) -->

            <!-- Optional parameters -->
            <topic>oms-order-console</topic>

            <!-- Optional parameters -->
            <totalSizeInBytes>104857600</totalSizeInBytes>
            <maxBlockMs>60000</maxBlockMs>
            <ioThreadCount>8</ioThreadCount>
            <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
            <batchCountThreshold>4096</batchCountThreshold>
            <lingerMs>2000</lingerMs>
            <retries>10</retries>
            <baseRetryBackoffMs>100</baseRetryBackoffMs>
            <maxRetryBackoffMs>100</maxRetryBackoffMs>

            <!-- Optional parameters -->
            <encoder>
                <pattern>%d %-5level [%thread] %logger{0}: %msg</pattern>
            </encoder>

            <!--  Optional parameters -->
            <timeFormat>yyyy-MM-dd'T'HH:mmZ</timeFormat>
            <!--  Optional parameters -->
            <timeZone>Asia/Shanghai</timeZone>
        </appender>
    </springProfile>
    <springProfile name="prod">
        <appender name="aliyun-prod" class="com.aliyun.openservices.log.logback.LoghubAppender">
            <!-- Required parameters -->
            <!-- Configure account and network  -->
            <endpoint>${endpoint}</endpoint>
            <accessKeyId>${accessKeyId}</accessKeyId>
            <accessKeySecret>${accessKeySecret}</accessKeySecret>

            <!-- Configure sls -->
            <project>doterra-prod</project>
            <logStore>doterra-prod</logStore>
            <!-- Required parameters(end) -->

            <!-- Optional parameters -->
            <topic>oms-order-console</topic>

            <!-- Optional parameters -->
            <totalSizeInBytes>104857600</totalSizeInBytes>
            <maxBlockMs>60000</maxBlockMs>
            <ioThreadCount>8</ioThreadCount>
            <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
            <batchCountThreshold>4096</batchCountThreshold>
            <lingerMs>2000</lingerMs>
            <retries>10</retries>
            <baseRetryBackoffMs>100</baseRetryBackoffMs>
            <maxRetryBackoffMs>100</maxRetryBackoffMs>

            <!-- Optional parameters -->
            <encoder>
                <pattern>%d %-5level [%thread] %logger{0}: %msg</pattern>
            </encoder>

            <!--  Optional parameters -->
            <timeFormat>yyyy-MM-dd'T'HH:mmZ</timeFormat>
            <!--  Optional parameters -->
            <timeZone>Asia/Shanghai</timeZone>
        </appender>
    </springProfile>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="LOG_INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info/info_log_%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <prudent>false</prudent>
    </appender>

    <appender name="LOG_ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/error_log_%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <prudent>false</prudent>
    </appender>

    <logger name ="org.apache.ibatis" level="debug"></logger>
    <logger name="com.netflix.discovery.DiscoveryClient" level="error"></logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LOG_INFO"/>
        <appender-ref ref="LOG_ERROR"/>
        <springProfile name="dev">
            <appender-ref ref="aliyun-dev"/>
        </springProfile>
        <springProfile name="uat">
            <appender-ref ref="aliyun-uat"/>
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="aliyun-prod"/>
        </springProfile>
    </root>

</configuration>